body{
    background-color: rgba(0, 0, 0, 0.05);
}

.collapse{
    margin-top:20px;
    justify-content: end;
}
.navbar{
    background-color:red;
}
.navbar-brand{
   font-size:40px;
   color:rgb(0, 0, 0);
}
.navContent{
    margin-right: 50px;
}
.dropdown-divider{
    color:rgb(0, 0, 0);
}
.search{
    display:flex;
    align-items: center;
}
.searchIcon{
  font-size:x-large;
  margin-left: 170px;
  position:absolute;
}
 .navContent ul li a{
    background-color:transparent;
    color:rgb(0, 0, 0);
    font-size: 20px;
}  
.navContent ul li a:hover{
    background-color:transparent;
    color:orange;
}
.search input{
  background-color: transparent
} 
.search input::placeholder{
    color:rgb(0, 0, 0);
    font-size: 20px;
}
.searchIcon{
    color:rgb(0, 0, 0);
}
.profile ul{
    position: absolute;
     display: none; 
     /* left:-30px; */
}
.profile:hover ul{
    display:block;
     transition-delay: 0ms 10s;   
}
.icon{
    font-size:30px;
}
.row3{
    margin-top: 150px;
}
.navmav{
   background-color:transparent;  
   margin:0;
   height:70px;
}
.icon1{
    color:transparent;
    font-size: 30px;
     margin-left:100%;
     margin-right: 20%;
     margin-top: 3%;
} 
.sellitem:hover .icon1{
    color:black;
}
.sellitem:hover{
    transition: 0.7s;
    transition: 0.7s ease-out;
    box-shadow: 0px 0px 5px black ;
    cursor: grab;
}